root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 90
quote_type = single
indent_brace_style = K&R
spaces_around_brackets = outside
